
hr{
	
	border-style: dotted none none none;
	border-width: 6px;
	border-color: #548CA8;
	width: 5%;
}
body{
	background-color: #EAF6F6;	

}
h1{
	color: #548CA8;
}
h3{
	color: #548CA8;
	margin-left: 10px;

}

p{
	color: #30475E;

}

td{
	color: #334257;	

}

li{
	color: #30475E;

}

th{
	color: #548CA8;

}




  
	
