
hr{
	
	border-style: inset none none none;
	border-width: 2px;
	border-color: lightgrey;
	width: 100%;
}
body{
	background-color: #EAF6F6;	

}
h1{
	color: #66BFBF;
}
h3{
	color: #66BFBF;

}

p{
	color: #476072;

}

td{
	color: #476072;	

}

li{
	color: #476072;

}

th{
	color: #476072;

}


  


	