
hr{
	
	border-style: inset none none none;
	border-width: 2px;
	border-color: lightgrey;
	width: 100%;
}
body{
	background-color: #EAF6F6;	

}
h1{
	color: #548CA8;
}
h3{
	color: #548CA8;

}

p{
	color: #30475E;

}

td{
	color: #334257;	

}

li{
	color: #30475E;

}

th{
	color: #334257;

}


  


	